@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import "../common/menu.css";
@import "../common/use.fontawesome.com.5.6.3.css";

body {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #a5a5a5;
    font-weight: normal;
}